.about {
    padding: 5rem 3rem 3rem 3rem;
    background: #fff;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.row .column {
    width: 40%;
}

.resume__button {
    height: 30px;
    border-radius: 5px;
    background-color: #ef9177;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.btn {
    position: right;
}

.profile-content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}

.profile-content p{
    padding-bottom: 1rem;
    line-height: 1.8;
    font-weight: 400;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.content {
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    padding: 20px;
}

.profile-images {
    position: relative;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    width: 400px;
    height: auto;
}

.images {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease;
}

.left-arrow:hover,
.right-arrow:hover {
    transform: translateY(-50%) scale(1.5);
}

.left-arrow {
  left: 0;
  transform-origin: right center;
}

.right-arrow {
  right: 0;
  transform-origin: left center;
}

@media screen and (max-width:768px) {
    .about {
        padding: 2rem 1rem 3rem 1rem;
    }
    .row {
        display: flex;
        flex-direction: column;

    }
    .profile-images {
        width: fit-content;
        margin: 5% 10% 10px;
        max-width: fit-content;
    }
    .row .column {
        width: 100%;
    }
}